// Seccion donde el administrador carga los libres para vender online,  falta codigo

<template>

    <div class="signUp_user">
        <div class="container_signUp_user">
            <h2> <fa icon="book-reader" pull="right" :style="{ color: 'RED' }" />Agregar libros</h2>

            <form  >
                <input type="text" placeholder="Libro">
                <br>
                
                <input type="text"  placeholder="Autor">
                <br>
                
                <input type="text" placeholder="Categoria">
                <br>

                <input type="text" placeholder="Precio">
                <br>

               
                <button type="submit">Agregar libro</button>
            </form>
        </div>

    </div>

</template>

// Falta script para unir con el back!!!

<style>

    .signUp_user{
        margin: 0;
        padding: 0%;
        height: 100%;
        width: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_signUp_user {
        border: 3px solid  #283747;
        border-radius: 10px;
        width: 25%;
        height: 60%;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .signUp_user h2{
        color: #283747;

    }

    .signUp_user form{
        width: 70%;
        
    }

    .signUp_user input{
        height: 40px;
        width: 100%;

        box-sizing: border-box;
        padding: 10px 20px;
        margin: 5px 0;

        border: 1px solid #283747;
    }

    .signUp_user button{
        width: 100%;
        height: 40px;

        color: #E5E7E9;
        background: #283747;
        border: 1px solid #E5E7E9;

        border-radius: 5px;
        padding: 10px 25px;
        margin: 5px 0 25px 0;
    }

    .signUp_user button:hover{
        color: #E5E7E9;
        background: crimson;
        border: 1px solid #283747;
    }

</style>